@font-face {
    font-family: 'Montserrat';
    src: url(Fonts/Montserrat/Montserrat-VariableFont_wght.ttf);
}

@font-face {
    font-family: 'Roboto-light';
    src: url(Fonts/Roboto/Roboto-Light.ttf);
}